.container {
  height: 100%;
}

.title-btns {
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}

.title-btns div {
  width: 110px;
  height: 30px;
  color: #fff;
  border-radius: 10px;
  background:#5eacd5;
  cursor: pointer;
}

.title-btns div:hover {
  background: #3c7c9d;
}

.active {
  background: #3c7c9d !important;
}

.title-btns div:first-child {
  margin-right: 100px;
}

.box {
  width: 100%;
  height: calc(100% - 50px);
  padding: 100px;
}

.node {
  width: 50px;
  height: 50px;
  background: #41b1c6;
  border-radius: 50%;
  margin-left: 100px;
}

.sourcecode {
  margin-top: -40px;
}

.code-container {
  background: #232323;
  border-radius: 15px;
  padding: 20px 0;
  padding-left: 50px;
  box-shadow: 0 0 20px 0 rgba(129, 114, 255, 0.5);
}

.code {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  color: #bfecc9;
  font-family: '微软雅黑';
  margin-top: 5px;
}

.node-two {
  width: 50px;
  height: 50px;
  background: #f3b65ae0;
  border-radius: 5px;
  margin-left: 100px;
}

.title {
  margin-left: 100px;
  margin-bottom: 100px;
  font-size: 18px;
  color: #669df1;
}

.title div {
  width: 100px;
  height: 30px;
  margin-left: 20px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background: #74b7f1;
  border-radius: 5px;
  cursor: pointer;
}