* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

:global(.center) {
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 8px;
  width: 8px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 8px;
  background: -webkit-gradient(linear,left top, right bottom, from(#485563), to(#29323c));
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 8px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

/* animation */
:global(.toggle-enter-active), :global(.toggle-leave-active) {
  transition: all 0.5s;
}

:global(.toggle-enter), :global(.toggle-leave-to) {
  opacity: 0;
  transform: scale3d(0.1, 0.1, 1);
}

.container {
  height: 100%;
}

.title-btn {
  width: 100%;
  padding: 10px 0;
  padding-left: 100px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}

.title-btn div {
  width: 110px;
  height: 30px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  background:#5eacd5;
  cursor: pointer;
}

.title-btn div:hover {
  background: #3c7c9d;
}

.active {
  background: #3c7c9d !important;
}

.title-btns div:first-child {
  margin-right: 100px;
}

.box {
  width: 100%;
  height: calc(100% - 50px);
  padding: 100px;
  overflow-x: hidden;
}

.node {
  width: 50px;
  height: 50px;
  background: #41b1c6;
  border-radius: 50%;
  margin-left: 100px;
}

.code-container {
  background: #232323;
  border-radius: 15px;
  padding: 20px 0;
  padding-left: 50px;
  box-shadow: 0 0 20px 0 rgba(129, 114, 255, 0.5);
}

.sourcecode {
  padding-top: 40px !important;
}

.code {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  color: #bfecc9;
  font-family: '微软雅黑';
  margin-top: 5px;
}

.node-two {
  width: 50px;
  height: 50px;
  background: #f3b65a;
  border-radius: 5px;
  margin-left: 100px;
}

.title {
  margin-left: 100px;
  margin-bottom: 100px;
  font-size: 18px;
  color: #669df1;
}

.title div {
  width: 100px;
  height: 30px;
  margin-left: 20px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background: #74b7f1;
  border-radius: 5px;
  cursor: pointer;
}