<template>
  <div styleName='container'>
    <a
      target='_blank'
      styleName='lib-name'
      title='Wobbly github link'
      href='https://github.com/imtaotao/wobbly'
    >
    </a>

    <!-- sideber -->
    <Sidebar :onToggleItem='this.onToggleItem' />

    <!-- main content -->
    <div styleName='main-box'>
      <WobblyCM v-if='currentAPI === "Wobbly"' />
      <WobblyAll v-if='currentAPI === "Wobbly.all"' />
      <WobblyMove v-if='currentAPI === "Wobbly.move"' />
      <WobblyColor v-if='currentAPI === "Wobbly.color"' />
    </div>
  </div>
</template>

<script>
const style = require('./style.css')
const Sidebar = require('../sidebar/index')
const WobblyCM = require('../wobbly/index')
const { async, CSSModules, Component } = require('@Grass')

class Root extends Component {
  // #temp
  component = {
    Sidebar,
    WobblyCM,
    WobblyAll: async(() => require.async('../wobbly-all/index')),
    WobblyMove: async(() => require.async('../wobbly-move/index')),
    WobblyColor: async(() => require.async('../wobbly-color/index'))
  }

  state = {
    currentAPI: 'Wobbly'
  }

  onToggleItem = item => {
    this.setState({ currentAPI: item })
  }
}

CSSModules(style)(Root).$mount(document.getElementById('App'))
</script>