.container {
  width: 100%;
  height: 100vh;
  padding-top: 10px;
  overflow-x: hidden;
  background: linear-gradient(90deg, #928DAB, #00d2ff);
}

.lib-name {
  width: 32px;
  height: 32px;
  position: fixed;
  top: 16px;
  right: 20px;
  opacity: 0.8;
  z-index: 999999;
  background: url(demo/icons/github.svg) no-repeat;
}

.lib-name:hover {
  opacity: 1;
}

.main-box {
  width: 90%;
  height: 80vh;
  background: #fff;
  margin: 40px auto;
  border-radius: 5px;
  overflow: hidden;
}